header {
	font-size: 40px;
	color: #0b7bc5;
	height: 40px;
	text-align: right;
	padding-right:40px;
}
body{
	background: url("/B1W3O1-Wie-ben-ik/pictures/bg_color.png") repeat center fixed;
}
li{
	border-style: inset;
	margin-top: 39px;
	margin-right: 0px;
	margin-left: 85px;
	margin-bottom: 0px;
	display: inline-block;
	font-family: monospace;
	font-size: 20px;
}
img{
	margin-top: 60px;
	margin-right: 60px;
	margin-left: 20px;
	margin-bottom: 60px;
	border-style: inset;
}
p{
	float: left;
	text-align: left;
	margin: 0px;
	width: 490px;
	font-family: monospace;
	font-size: 19px;
	border-style: inset;
	margin-left: 128px;
	margin-top: 60px;
}
h1{
	margin-left: 500px;
}
footer{
	margin-left: 550px;
}
a{
	color: #0b7bc5;
}

a:hover {
	color: #009688;
	transform: translateY(-5%);
}