header {
	font-size: 40px;
	color: #0b7bc5;
	height: 40px;
	text-align: right;
	padding-right:40px;
}
body{
	√background: rgb(18,137,215);
	background: radial-gradient(circle, rgba(18,137,215,1) 16.7%, rgba(130,34,135,1) 33.4%, rgba(216,33,43,1) 50.1%, rgba(243,109,7,1) 66.8%, rgba(253,172,9,1) 83.5%, rgba(65,157,35,1) 100.2%);
}	
li{
	border-style: inset;
	margin-top: 39px;
	margin-right: 0px;
	margin-left: 85px;
	margin-bottom: 0px;
	display: inline-block;
	font-family: monospace;
	font-size: 20px;
}
img{
	margin-top: 60px;
	margin-right: 60px;
	margin-left: 20px;
	margin-bottom: 60px;
	border-style: inset;
}
p{
	float: left;
	text-align: left;
	margin: 0px;
	width: 490px;
	font-family: monospace;
	font-size: 19px;
	border-style: inset;
	margin-left: 128px;
	margin-top: 60px;
	color:ivory;
}
h1{
	margin-left: 500px;
}
footer{
	margin-left: 550px;
}
a{
	color: #0b7bc5;
}

a:hover {
	color: #009688;
	transform: translateY(-5%);
}
i:hover {
	color: #6b9600;
	transform: translateY(-5%);
}